MYSQL_ROOT_PASSWORD=example
MYSQL_USER=user
MYSQL_PASSWORD=secret
## You'll need to modify the bootstrap code if you change the DB name
MYSQL_DATABASE=beaconbot
MYSQL_HOST=db
DATABASE_PORT==3306

BOT_TOKEN=token
PREFIX_CHARACTER=!
ADMINISTRATOR_ROLE_NAME=Admins
SUPER_MODERATOR_ROLE_NAME=Super
MODERATOR_ROLE_NAME=Moderators
USER_ROLE_NAME=Users
ADMINISTRATOR_CHANNEL_NAME=admins
SUPER_MODERATOR_CHANNEL_NAME=super
MODERATOR_CHANNEL_NAME=moderators
SUPER_MODERATOR_LOG_CHANNEL_NAME=super_log
MODERATOR_LOG_CHANNEL_NAME=moderator_log
JOIN_LOG_CHANNEL_NAME=join_log

EMOJI_NAME=cube
EMOJI_ID=1234
SERVER_ID=4321