MYSQL_ROOT_PASSWORD=example
MYSQL_USER=user
MYSQL_PASSWORD=secret
## You'll need to modify the bootstrap code if you change the DB name
MYSQL_DATABASE=beaconbot
MYSQL_HOST=db
DATABASE_PORT=3306

PREFIX_CHARACTER=!
ADMINISTRATOR_ROLE_=Discord Admin
SUPER_MODERATOR_ROLE=Master Control
MODERATOR_ROLE=Moderators
MOD_TRAINEE_ROLE=Mod Trainees
USER_ROLE=Users
ADMINISTRATOR_CHANNEL_NAME=master-control
SUPER_MODERATOR_CHANNEL_NAME=master-control
MODERATOR_CHANNEL_NAME=moderation
SUPER_MODERATOR_LOG_CHANNEL_NAME=mc-only-logs
MODERATOR_LOG_CHANNEL_NAME=moderation-log
JOIN_LOG_CHANNEL_NAME=joins

SERVER_ID=4321

EXCLUDED_CHANNELS=master-control,moderation,moderation-log,mc-only-logs
URL_ROLE_WHITELIST=role1_id,role2_id,role3_id
SPECIAL_PERMISSION_FLAGS=KICK_MEMBERS,BAN_MEMBERS,ADMINISTRATOR,MANAGE_CHANNELS,MANAGE_GUILD,MANAGE_MESSAGES,MANAGE_ROLES,MANAGE_WEBHOOKS,MANAGE_EMOJIS,MANAGE_NICKNAMES,VIEW_GUILD_INSIGHTS
